@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Oxygen+Mono&display=swap');

body {
    background-color: whitesmoke;
    font-family: "Oxygen Mono", Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffd60a;
    font-family: "Bowlby One SC", "Arial Black", sans-serif;
}

h2 {
    margin: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

nav a {
    text-align: center;
    color: #003566;
    padding: 35px;
}

nav a:hover {
    background-color: #003566;
    color: whitesmoke;
}

.home-title {
    color: #001d3d;
    font-family: "Bowlby One SC", "Arial Black", sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #001d3d;
}

#logo_link {
    padding-top: 5px;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}

#hero-img {
    width: 100%;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #ffc300;
}

.rivers-card,
.camping-card,
.rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #ffc300;
}

.book,
.join {
    background-color: #ffd60a;
    color: #001d3d;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover,
.join:hover {
    background-color: #001d3d;
    color: #ffd60a;
}

.msg {
    background-color: #001d3d;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color: #ffc300;
    font-family: "Bowlby One SC", "Arial Black", sans-serif;
}

.msg p {
    color: #ffc300;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: #ffc300;
    padding: 25px 50px;
    margin-top: 200px;
}

footer h3 {
    color: #003566;
}

footer h3 a:hover {
    text-decoration: underline;
}

footer a {
    color: #003566;
}

footer a:hover {
    color: whitesmoke;
}

footer .social img {
    padding-top: 15px;
}